@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Bold/Arimo-Bold.ttf') format('truetype');
    src: url('../fonts/Arimo-Bold/Arimo-Bold.eot') format('embedded-opentype');
    src: url('../fonts/Arimo-Bold/Arimo-Bold.svg#Arimo-Bold') format('svg');
    src: url('../fonts/Arimo-Bold/Arimo-Bold.woff') format('woff');
    src: url('../fonts/Arimo-Bold/Arimo-Bold.woff2') format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Regular/Arimo-Regular.ttf') format('truetype');
    src: url('../fonts/Arimo-Regular/Arimo-Regular.eot') format('embedded-opentype');
    src: url('../fonts/Arimo-Regular/Arimo-Regular.svg#Arimo-Bold') format('svg');
    src: url('../fonts/Arimo-Regular/Arimo-Regular.woff') format('woff');
    src: url('../fonts/Arimo-Regular/Arimo-Regular.woff2') format('woff2');
    font-weight: normal;
}

.table-pricing {
    border-collapse: collapse;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #484848;
    text-align: center;
    border-top: 24px;
    border-right: 30px;
    border-bottom: 32px;
    border-left: 22px;
    border-color: #374765;
    border-style: solid;
    margin: 50px;
}


.table-body-row td:not(:first-child) {
    width: 277px;
}

.table-body-row td:first-child {
    width: 310px;
}

.table-header-row {
    background-color: #fafafa;
}

.table-header-row th {
    vertical-align: middle;
}

.table-header-col-border {
    border-left: 3px solid #d9d9d9;
    border-right: 3px solid #d9d9d9;
}

.table-header-col-border-style-none {
    border-style: none;
}

.table-header-text-tariffplan-standard {
    font-family: 'Arimo', sans-serif;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    background-color: #89c331;
    padding-top: 27px;
    padding-bottom: 25px;
}

.table-header-text-tariffplan-ultimate {
    font-family: 'Arimo', sans-serif;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    background-color: #f04a56;
    padding-top: 28px;
    padding-bottom: 21px;
}

.table-header-text-tariffplan-premium {
    font-family: 'Arimo', sans-serif;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    background-color: #20807c;
    padding-top: 27px;
    padding-bottom: 25px;
}

.table-header-text-choose-your {
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
}

.table-header-text-pricing-plan {
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 30px;
    line-height: 28px;
    font-weight: bold;
}

.table-header-price-tariffplan-container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.table-header-price-tariffplan-centspermonth-container-flex {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.table-header-text-per-month {
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    padding-left: 3px;
}

.table-header-text-price-value-currency {
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 60px;
    font-weight: bold;
}

.table-header-text-price-value-currency-cents {
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
}

.table-body-row td {
    border-left: 3px solid #d9d9d9;
    border-right: 3px solid #d9d9d9;
    vertical-align: middle;
    padding-top: 25px;
    padding-bottom: 24px;
}

.table-body-row:nth-child(odd) {
    background-color: #f2f2f2;
}

.table-body-row:nth-child(even) {
    background-color: #e3e3e3;
}

.table-body-icon {
    font-size: 24px;
    vertical-align: middle;
}

.table-body-icon-margin-right {
    margin-right: 12px;
}

.table-footer-row {
    background-color: #f4f4f4;
}

.table-footer-row td {
    border-left: 3px solid #d9d9d9;
    border-right: 3px solid #d9d9d9;
    transition: background-color .3s;
}

.table-footer-row td:hover {
    background-color: #dedede;
}

.footer-button {
    font-family: 'Arimo', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border-style: none;
    margin: 31px auto 30px;
    cursor: pointer;
}

.button-contactus {
    background-image: linear-gradient(to bottom, #484848 86%, #404040 87%);
    padding: 19px 44px 17px 45px;
}

.button-contactus:hover {
    background-image: linear-gradient(to bottom, #333333 86%, #1a1a1a 87%);
}

.button-buynow {
    padding: 19px 44px 17px 58px;
}

.button-buynow-tariffplan-standard {
    background-image: linear-gradient(to bottom, #89c331 86%, #79b027 87%);
}

.button-buynow-tariffplan-standard:hover {
    background-image: linear-gradient(to bottom, #476619 86%, #1d290a 87%);
}

.button-buynow-tariffplan-ultimate {
    background-image: linear-gradient(to bottom, #f04a56 86%, #df3a46 87%);
}

.button-buynow-tariffplan-ultimate:hover {
    background-image: linear-gradient(to bottom, #8e0b14 86%, #2f0406 87%);
}

.button-buynow-tariffplan-premium {
    background-image: linear-gradient(to bottom, #20807c 86%, #16736f 87%);
}

.button-buynow-tariffplan-premium:hover {
    background-image: linear-gradient(to bottom, #145250 86%, #0a2928 87%);
}

.table2-pricing {
    border-collapse: collapse;
    border-top: 30px;
    border-right: 30px;
    border-bottom: 22px;
    border-left: 27px;
    border-color: #374765;
    border-style: solid;
    margin: 50px;
}


.table2-header-row th {
    vertical-align: middle;
    padding-top: 30px;
    padding-bottom: 32px;
}

.table2-body-row td:not(:first-child) {
    width: 157px;
    vertical-align: middle;
}

.table2-body-row td:first-child {
    width: 198px;
    vertical-align: middle;
}

.table2-body-row {
        font-family: 'Arimo', sans-serif;
        color: #484848;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
}

.table2-header-text-choose-your {
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}

.table2-header-text-pricing-plan {
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

.table2-header-service-name {
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
}

.table2-header-service-name-icon {
    color: #848484;
    font-size: 24px;
    margin-bottom: 5px;
}

.table2-tariffplan-details {
    font-family: 'Arimo', sans-serif;
    color: #fff;
}


.table2-tariffplan-details-name {
    font-size: 24px;
    font-weight: bold;
    padding-top: 18px;
    padding-bottom: 22px;
}

.table2-tariffplan-details-price-value-container-flex {
    display: flex;
    align-items: flex-start;
}

.table2-tariffplan-details-price-permonth-container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table2-tariffplan-details-standard {
    background-color: #89c331;
}

.table2-tariffplan-details-standard:hover {
    background-color: #476619;
}

.table2-tariffplan-details-ultimate {
    background-color: #f04a56;
}

.table2-tariffplan-details-ultimate:hover {
    background-color: #8e0b14;
}

.table2-tariffplan-details-premium {
    background-color: #20807c;
}

.table2-tariffplan-details-premium:hover {
    background-color: #145250;
}

.table2-tariffplan-text-per-month {
    font-size: 14px;
    line-height: 24px;
    margin-left: 5px;
}

.table2-tariffplan-price-value-currency {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

.table2-tariffplan-price-value-currency-cents {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.table2-button-buynow {
    font-family: 'Arimo', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border-style: none;
    margin: 24px auto 17px;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #414141 86%, #343434 87%);
    padding: 15px 33px 13px 34px;
}

.table2-button-buynow:hover {
    background-image: linear-gradient(to bottom, #333333 86%, #1a1a1a 87%);
}

.table2-header-row:first-child th:first-child {
    background-color: #fafafa;
}

.table2-header-row th:nth-child(even) {
    background-color: #e3e3e3;
}

.table2-body-row td:nth-child(even) {
    background-color: #e3e3e3;
    border-top: 3px solid #d9d9d9;
    border-bottom: 3px solid #d9d9d9;
    word-spacing: 100vw;
}

.table2-header-row th:nth-child(2n+3) {
    background-color: #f2f2f2;
}

.table2-body-row td:nth-child(2n+3) {
    background-color: #f2f2f2;
    border-top: 3px solid #d9d9d9;
    border-bottom: 3px solid #d9d9d9;
    word-spacing: 100vw;
}